/*Cole McClure Apr 16*/
.background {
    background-image: url(../images/img/IMG_0479.JPG);
}

#headerposition {
    position: relative;
    top: -60px;
}

.my-copyright:hover {
    text-decoration: underline;
}

.enlarge:hover {
    transform: scale(1.1);
    transition: all .5s;
}

a {
    text-decoration: none;
}
